@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1 {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

p{
  font-size: 20px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  background-image: url('img/cactus.jpg');
  background-size: cover;
  background-position: center center;
}

.center{
  margin: auto;
  text-align: center;
}
ul{
  padding: 0;
}
ul li {
  font-style: bold;
  font-size: x-large;
  color: blueviolet;
  list-style-type: none;
}
